<?xml version="1.0" encoding="UTF-8"?>
<suite name="RestAssured Test">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="REST APIs">
		<classes>
			<class name="com.harshi.resttesting.GetRequestTest"></class>
			<class name="com.harshi.resttesting.PostRequestTest"></class>
			<class name="com.harshi.resttesting.PutRequestTest"></class>
			<class name="com.harshi.resttesting.PatchRequestTest"></class>
			<class name="com.harshi.resttesting.DeleteRequestTest"></class>
		</classes>
	</test>
	
	<test name="SOAP APIs">
		<classes>
			<class name="com.harshi.soaptesting.GetCapitalByCountryCodeTest"></class>
			<class name="com.harshi.soaptesting.NumberToWordConversion"></class>
		</classes>
	</test>
	
	<test name="REST Auth">
		<classes>
			<class name="com.harshi.authtest.AuthenticationTest"></class>
			<class name="com.harshi.authtest.OauthAuthenticationTest"></class>
			<class name="com.harshi.authtest.SSLAuthenticationTest"></class>
		</classes>
	</test>	
</suite>